body {
  margin: 0;
  background-color: #eff0f1;
  font-family: 'Fira Sans', 'Roboto', sans-serif;
}

p {
  color: #000;
}

 /*Menu*/

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #31363b;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px .2rem .4rem rgba(0, 0, 0, 0.2);
    font-size: 1.5em;
    padding-left: 10%;
}

li {
    float: left;
}

li a {
    display: block;
    color: #eff0f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #31363b;
}

li a:hover:not(.active) {
  background-color: #2ecc71;
  transition: .2s;
}

.active {
  background-color: #2ecc71;
}

/*site content*/

.main {
  z-index: -1;
  position: absolute;
  width: 80%;
  min-width: 50em;
  /*min-height: 1600px;*/
  margin: 4.5em 10% 2em;
  background-color: #fcfcfc;
  box-shadow: 0 .1rem .2rem rgba(0,0,0,0.12),0 0 .1rem rgba(0,0,0,0.12);
}

.button {
  background-color: #2ecc71;
  color: #fcfcfc;
  border-radius: 2px;
  padding: 12px 16px 10px 16px;
  transition: all 0.3s;
  position: static;
  text-align: center;
}

/*Home content*/

.splash {
  background-color: #fcfcfc;
  width: 95%;
  margin: 2em auto 2em auto;
  display: block;
}

#splash {
  float: left;
  width: 70%;
  padding-bottom: 1.75em;
}

.info {
  float: right;
  width: 30%;
}

#brand {
  float: left;
  margin: 32px auto 0px 5%;
  font-size: 40px;
  text-align: left;
  color: #31363b;
}

#divider1 {
  height: 1px;
  background-color: #CECECE;
  float: right;
  width: 95%;
  margin: 24px 0 24px auto;
}

#tagline {
  float: left;
  text-align: left;
  margin: .25em auto .25em 1em;
  font-style: italic;
}

.getButton {
  float: left;
  margin-left: 1em;
}

.getButton:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 2px 4px 0 rgba(0,0,0,0.19);
}

#downloadbutton {
  font-size: 24px;chrome://settings/
  transition: .35s;
}

#divider2 {
  height: 1px;
  background-color: #CECECE;
  width: 95%;
  margin: 1.75em auto 1.75em auto;
  clear: both;
}

#contact {
  margin: 0 auto 2em;
  width: 50%;
  min-height: 100px;
  display: block;
}

#contactHeader {
  text-align: center;
  font-weight: normal;
  font-size: 28px;
  color: #000;
}

#contactLink {

}

#mail {

}

#youtube {

}

#googPlus {

}

/*Download content*/

#downHeader{
  font-weight: normal;
  text-align: center;
}

.LTS {
  float: left;
  width: 50%;
}

#LTSimg {
  width: 90%;
  margin: 0 auto 1em 5%;
}

#Rollimg {
  width: 90%;
  margin: 0 auto 1em 5%;
}

#downHeader {
  clear: both;
  margin: .5 auto;
  text-align: center;
  font-weight: normal;
}

#downDisc {
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.downloadPageButton {
  width: 38%;
  margin-left: 31%;
  margin-bottom: 1.75em;
  float: left;
}

.downloadPageButton:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 2px 4px 0 rgba(0,0,0,0.19);
}

/*About content*/

.what {
  text-align: center;
  color: #000;
  font-size: 20px;
}

#what {
  text-align: center;
  color: #000;
}

.breakline {
  width: 80%;
  margin: 8px 10% 8px 10%;
  background-color: #CECECE;
  height: 1px;
}

.techs {
  width: 80%;
  margin: 0 10%;
  border-collapse: collapse;
  box-shadow: 0 0 .2rem rgba(0,0,0,0.35);
}

th {
  padding: 16px;
  border-bottom: 1px solid #CECECE;
  background-color: rgba(46, 204, 113, .85);
}

td {
  padding: 16px;
  border-bottom: 1px solid #CECECE;
  font-size: 20px;
}

tr:hover {
  background-color: #f5f5f5;
}

#softhead {
  font-size: 24px;
  width: 30%;
  font-weight: normal;
  text-align: left;
  color: #fcfcfc;
}

#dischead {
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  color: #fcfcfc;
}

#butts-teehee {
  border: 0px;
}
